.style1 { text-align: left; background:#FFFFFF; text-align:center; background:url(images/01front_n_shadow.jpg); }
.style2 { border-width: 0px; }
.style3 { border-width: 0px; }
.style4 { border-width: 0px; margin-bottom: 0px; }
.style7 { border: 0 solid #505050; }
.style7 iframe { display: none; }
.style8 { border-color: #505050; border-width: 0; }
.style9 { border-width: 0px; }

A { COLOR: #000000 }
A:visited { COLOR: #000000 }
A:active { COLOR: #000000 }
A:hover { COLOR: #000000 }

.prod { text-align: justify; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:black; margin-left:40px; margin-right:40px; }
.prod h1 { font-size:14px; }
.prod a { color:#000000; text-decoration:underline; }
.prod2 a { color:#000000; text-decoration:underline; }
.prod2 { margin-left:40px; text-align: justify; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; }
.map { text-align: justify; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; }
.map a { color:#000000; text-decoration:underline; }

.prod h5{ font-size:10px; margin-bottom:-10px; }
/* CSS Document */

.stati-img { margin:5px;}
