/* global setup */
html {overflow-x: hidden}
body {margin: 0; padding: 0; font-size: 11px; font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif; color: #666; width: 100%; height: 100%}
.loader {background: #fff; width: 100%; height: 100%; z-index: 99999; position: absolute; left: 0; top: 0}
.loader img {position: relative; left: 50%; top: 50%}
a {color: #666}
a:hover {color: #666}
a img {border: none}
/* site specific setup */
.container {width: 100%; position: relative; overflow: hidden; margin: 0 auto; min-width: 980px}
.headercontainer {width: 100%; position: relative; height: 90px}
.header {width: 980px; height: 65px; position: relative; margin: 0 50%; left: -495px}
.logo {position: absolute; left: 19px; top: 10px}
/*language selector*/
.langcontainer {position: absolute; left: 690px; top: 10px; text-align: left; font-size: 10px; line-height: 20px; cursor: pointer; z-index: 10}
.langglobe {margin: 5px 4px 0 2px; float: left}
.langmainarrow {margin-left: 4px}
.lang {list-style: none; margin: 3px 0 0 0; padding: 5px 0 5px 13px; display: none}
.lang a {text-decoration: none; font-size: 10px; color: #ccc; display: block; background: no-repeat left center; width: 56px; padding-left: 13px}
/*search*/
.search {position: absolute; left: 827px; top: 11px; width: 130px; height: 20px}
.search .keyword {width: 100px; height: 12px; line-height: 12px; float: left; color: #666; font-size: 10px; border: none; margin-top: 2px}
.search .button {width: 19px; height: 20px; line-height: 20px; border-left: none; float: left; background: no-repeat center; border: none; cursor: pointer}
/*main menu*/
.mainmenu {height: 24px; position: relative; width: 980px; margin: 0 50%; left: -495px; list-style: none; padding: 0 0 0 5px; z-index: 9}
.mainmenu td a {float: left; color: #818181; font-family: UbuntuLight, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 25px; display: block; text-align: center; text-decoration: none; padding: 0 15px; background: right bottom}
.mainmenu td a:hover,
.mainmenu td a.active {color: #836728}
.mainmenu td a.last {color: #c4ac59}
/*main area*/
.maincontainer {float: left; width: 100%; text-align: center; margin: 0; min-height: 175px}
.main {float: left; width: 100%; z-index: 1; position: relative}
.index_animations {height: 475px; background: #000}
.jcarousel-skin-tango-index,
.jcarousel-control {width: 980px; margin: 0 50%; position: relative; left: -495px; text-align: center}
.index_animations_bottom {height: 55px; background: #1f1f1f}
.jcarousel-control a {display: inline-block; height: 5px; width: 6px; color: #1f1f1f; font-size: 0px; line-height: 0px; text-decoration: none; margin: 24px 3px 0 3px; background: left -5px}
.jcarousel-control a.selected {background-position: left 0px}
.page_text {background: #ccc; border-top: 1px solid #ccc}
.page_text,
.page_catalog,
.page_catalog,
.page_contact,
.page_services {border-top: 1px solid #ccc}
.page_text .main,
.page_services .main,
.page_stores .main {width: 980px; position: relative; margin: 0 50%; left: -490px}
.page_text h1,
.page_services h1 {font-size: 14px; float: left; margin: 10px 0 0 15px; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif}
.page_text .content,
.page_services .content {float: left; text-align: left; width: 400px; margin: 10px 0 0 15px; clear: both}
.page_text .main .background_image,
.page_services .main .background_image {height: 475px; width: 980px; background: no-repeat center; display: table-cell; vertical-align: middle}
.designer_contact {background: no-repeat left 5px; float: right; clear: both; padding-left: 13px; font-size: 10px; color: #666; font-family: UbuntuMediun, Verdana, Arial, Helvetica, sans-serif; text-decoration: none}
.page_services_gallery {float: left; position: absolute; top: 0; left: 508px; height: 475px; width: 1000px}
.page_services_gallery a {height: 475px; width: 357px; display: block; background: center}
.services_gallery_coverup {position: absolute; top: 0; left: 863px; height: 475px; width: 1500px}
.page_stores {background: #1f1f1f}
.storemap, #map_canvas {width: 653px; height: 475px; float: right; margin: 27px 25px; background: #999}
.storelist, #sidebar {margin: 27px 0 0 50px; width: 200px; float: left; text-align: left}
.storelist h1,
.storelist h2 {color: #ccc; font-size: 14px; font-weight: normal; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif}
.storelist h2 {font-size: 11px; width: 200px; background: no-repeat right 7px; cursor: pointer; margin: 0}
.store_select_country {margin: 10px 0}
.storelist li,
.store_showlist div {cursor: pointer}
#store_town_div, #store_store {display: none}
.storelist div p {margin: 0}
.page_gallery_gallery .opengallery,
.page_catalog_gallery .opengallery {width: 356px; height: 475px; display: block; background: no-repeat center}
.expo_line .opengallery {width: 356px; height: 275px; display: block; background: no-repeat center}
.expo_line_high {position: relative; width: 980px; margin: 0 50%; left: -178px; height: 475px}
.products_line {position: relative; width: 980px; margin: 0 50%; left: -178px}
.expo_line_high .expo_line .opengallery {height: 475px}
.products_line .opengallery {width: 224px; height: 224px; display: block; background: no-repeat center}
.store_select_country_list,
.store_select_town_list {width: 200px; list-style: none; margin: 0; padding: 10px; display: none; position: absolute; background: #000; left: 40px}
.store_select_country_list {z-index: 10}
.store_select_country_list li,
.store_select_town_list li {line-height: 18px}
.store_select_country_list li a,
.store_select_town_list li a {text-decoration: none}
.store_showlist {margin: 20px 0; height: 320px; width: 250px; overflow: auto}
.store_showlist div {margin-bottom: 20px}
.storeicons {width: 200px; text-align: left; position: absolute; top: 479px; left: 50px}
.storeico_showall {display: block; text-decoration: none; font-size: 9px; color: #ccc; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif; padding-left: 36px; background: no-repeat; height: 23px; line-height: 23px; float: left}
.storeico_showall:hover {color: #ccc}
.page_gallery {background: #ccc; height: 475px; text-align: center}
.page_catalog {height: 475px}
.page_gallery_gallery,
.page_catalog_gallery {position: relative; width: 980px; margin: 0 50%; left: -178px}
.page_catalog_gallery {left: -490px}
.page_pricelist_gallery .overlay {z-index: 10}
.pricelist_submenu {position: relative; top: -4px}
.page_gallery_icoset {height: 475px; width: 356px}
.page_gallery_icoset .enlarge {width: 24px; height: 22px; position: relative; top: 226px; left: 166px; display: none}
.page_gallery_icoset:hover .enlarge {display: block}
.jcarousel-skin-tango-pdf li:hover .page_catalog_icoset {display: block}
.gallery_gallery_coverup_right {position: absolute; top: 0; left: 356px; height: 475px; width: 1500px}
.gallery_gallery_coverup_left {position: absolute; top: 0; left: -1500px; height: 475px; width: 1500px}
.gallery_full_link {position: absolute; top: 0; width: 356px; height: 475px}
.gallery_full_link a {width: 24px; height: 19px; position: relative; left: 166px; top: 228px; display: none}
.gallery_full_link:hover {background: none !important}
/*.gallery_full_link:hover a {display: block}
*/
.page_expo {position: relative}
.expo_line {width: 100%; height: 275px; background: #ccc; margin-top: 22px; position: relative}
.expo_line_high .expo_line {height: 475px}
.expo_line_first {margin: 0}
.expo_navi_container,
.products_navi_container,
.search_body {width: 980px; margin: 0 50%; position: relative; left: -490px}
.jcarousel-skin-tango-gallery,
.jcarousel-skin-tango-expo,
.jcarousel-skin-tango-products {position: relative; left: -1068px}
.jcarousel-skin-tango-products {left: -1028px}
.expo_navi_container {width: 0px; height: 0px; position: absolute; top: 0; z-index: 50}
.expo_navi_bg_1,
.expo_navi_bg_2,
.expo_navi_bg_3 {height: 275px; width: 356px; position: absolute; z-index: 20; left: 0px}
.expo_navi_bg_2 {left: 356px}
.expo_navi_bg_3 {left: 712px}
.expo_line_high .expo_navi_bg_1 {height: 475px}
.expo_navi_1,
.expo_navi_2,
.expo_navi_3,
.products_navi {color: #ccc; font-size: 14px; font-weight: normal; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif; position: absolute; top: 125px; width: 356px}
.expo_navi_1 img,
.expo_navi_2 img,
.products_navi img {position: relative; top: 3px}.products_navi {z-index: 5; top: -224px; width: 224px; padding: 102px 0; height: 26px; left: -356px}/*submenu*/
div.submenu {width: 100%; float: left; background: repeat-x left 30px #1f1f1f}
div.catalog_submenu {top: -4px}
div.submenuGallery {background: none}
div.submenu h1 {width: 980px; position: relative; margin: 0 50%; left: -490px; color: #ccc; font-size: 14px; font-weight: normal; padding: 8px 0 0 50px; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif}
ul.submenu {list-style: none; padding: 0; float: left; width: 980px; position: relative; margin: 0 50%; left: -490px; text-align: center}
.submenuGallery ul.submenu {margin-top: 0}
.submenu li,
.product_submenu li {display: inline-block; margin: 5px 0}
.submenu li a,
.product_submenu li a {text-decoration: none; color: #999; font-size: 11px; padding: 0 20px}
.submenuGallery .submenu li {text-align: center; margin: 0}
.submenuGallery .submenu li a,
.submenutopic {color: #999; font-size: 11px; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif; height: 55px; vertical-align: middle; display: table-cell; line-height: 17px; width: 80px; padding: 0 20px}
.submenutopic {width: 100px; padding: 0 50px; background: #000; color: #ccc; font-size: 14px}
#whitebox {display: none}
.overlay,
.overlay_message {position: fixed;    top: 0%;    left: 0%;    width: 100%;    height: 100%;    background-color: black;    z-index:1001;    -moz-opacity: 0.8;    opacity:.80;    filter: alpha(opacity=80)}
.whitebox,
.whitebox_display {position: fixed;    top: 61px; left: -374px; margin: 0 50%;    width: 645px; height: 533px;    padding: 30px 40px;    z-index: 1002;    overflow: auto; background: #fff; color: #666}
.bonus_whitebox {height: 375px; overflow-x: hidden}
.whitebox_wrapper {float: left; z-index: 1002;    position: fixed;    top: 0%;    left: 0%;    width: 100%;    height: 100%; text-align: center}
.whitebox_wrapper .whitebox_display {background: #fff; color: #666; position: absolute; top: 45%; height: auto}
.whitebox h1 {margin: 0 0 10px 0; font-size: 14px; font-weight: normal; width: 475px}
.whitebox_close {position: absolute; top: 14px; right: 13px; width: 15px; height: 15px; cursor: pointer}
.error,
.message_close {position: absolute; left: -374px; top: 300px; margin: 0 50%;    width: 748px;    z-index: 1002; color: #999; font-size: 12px; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif}
.error img,
.message_close img {margin: 0 0 15px 10px; cursor: pointer}
.product_list,
.news_list {position: relative; width: 980px; margin: 0 50%; left: -490px; top: -4px; text-align: left; float: left}
.product_submenu_container {min-height: 55px; width: 100%}
.product_submenu {width: 980px; margin: 0 50%; position: relative; left: -495px; min-height: 55px}
.product_submenu h1 {color: #ccc; font-size: 14px; font-weight: normal; padding: 8px 0 0 50px; margin: 0; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif; float: left}
.product_list {margin-top: 20px; float: left}
.product_list ul {list-style: none; text-align: center}
.product_list li,
.news_list div {display: inline-block; width: 185px; height: 275px; padding: 0 33px}
.product_image {width: 185px; height: 200px; background: no-repeat center}
.news_list_inner {margin: 20px 0 0 100px; width: 780px !important}
.news_list div {float: left; height: auto}
.product_list img {width: 185px; height: 200px}
.product_list a {text-decoration: none}
.product_list h1,
.product_list h2 {margin: 3px 0 0 0; font-weight: normal; font-size: 10px; padding-top: 10px; border-top: 1px solid #ccc; width: 185px; text-align: center}
.product_list h2 {padding: 0; border: none}
.news_list {list-style: none; float: left; text-align: center}
.news_list li {display: inline-table; margin: 10px 0; width: 200px; margin: 15px 28px; text-align: left; vertical-align: top}
.news_list li a,
.news_list div a {text-decoration: none}
.news_list li h1,
.news_list li h2,
.news_list li h3,
.news_list div h1,
.news_list div h2,
.news_list div h3 {margin: 0; padding: 0; font-size: 10px; font-weight: normal; float: left}
.news_list li h1,
.news_list div h1 {font-size: 12px; width: 100%; margin-bottom: 5px}
.news_list li h2,
.news_list div h2 {font-weight: bold; margin-right: 10px}
.news_list img,
.news_list div img {margin-top: 5px}
h2.topic {float: right; margin: 0; font-size: 10px; font-weight: normal}
h1.topic {float: left}
h2.topic_bold {font-weight: bold; margin-right: 10px}
.whotebox_content,
.whitebox_image {float: left; width: 100%}
.whitebox_image {text-align: center}
.whitebox_image img {width: 644px}
.whitebox_news {position: fixed;    top: 61px; left: -374px; margin: 0 50%;    width: 645px; height: 533px;    padding: 30px 40px;    z-index: 1002;    overflow: auto; background: #fff; color: #666}
.page_contact .content {text-align: left; width: 980px; position: relative; margin: 0 50% 30px 50%; left: -490px}
.page_contact .content h4 {font-weight: normal}
.page_contact .form {width: 100%; background: #1f1f1f; padding: 25px 0 10px 0}
.page_contact table {text-align: left; width: 980px; position: relative; margin: 0 50%; left: -490px; color: #ccc; font-family: UbuntuLight, Verdana, Arial, Helvetica, sans-serif}
.page_contact form {font-size: 10px}
.page_contact table td.topic {font-size: 14px; width: 350px; text-align: center}
.page_contact form span {display: block; margin: 10px 0 10px 3px}
.page_contact label {width: 147px; margin: 0 25px 0 3px; display: block; float: left}
.page_contact input,
.page_contact textarea {width: 141px; height: 13px; background: no-repeat; border: none; font-family: UbuntuLight, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin: 5px 25px 10px 0; padding: 0 3px}
.input_street,
.label_street {width: 322px !important}
.label_street {width: 327px !important}
.label_phone,
.label_email {width: 100px !important}
.page_contact textarea {resize: none; width: 323px; height: 94px; background: #fff; float: left; margin: 0 !important; clear: both}
.contact_image,
.contact_button {clear: both; float: left}
.contact_form_text {padding-bottom: 5px}
.contact_button {color: #ccc; float: right; width: auto !important; background-position: 0 5px !important; padding-left: 10px !important; margin-right: 285px !important; cursor: pointer}
.contact_topic {width: 341px; background: no-repeat}
#contact_topic_display {height: 13px; font-family: UbuntuLight, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; padding: 0 0 0 5px; color: #000}
.contact_topic ul {display: none; position: absolute; background: #fff; width: 341px; margin: 0; padding: 0; list-style: none}
.contact_topic li {padding-left: 5px; cursor: pointer; color: #000}
.bonus_line {width: 980px; position: relative; margin: 0 50%; left: -490px; padding-top: 9px; height: 280px; border-top: 1px solid #ccc}
.bonus_image_1,
.bonus_image_2,
.bonus_image_3,
.bonus_image_4 {float: left; width: 281px; height: 269px; margin-bottom: 11px; background: #999; background: no-repeat center; cursor: pointer}
.bonus_image_2 {width: 380px; margin-left: 10px; cursor: auto}
.bonus_image_3,
.bonus_image_4 {width: 299px; height: 130px; margin-left: 10px}
.bonus_image_3 {margin-bottom: 9px}
.page_sale-bonus li {cursor: pointer}
.whitebox_images {float: left}
.whitebox_small_images {float: left; width: 96px}
.whitebox_image_2,
.whitebox_image_3,
.whitebox_image_4 {float: left; width: 81px; height: 94px; margin-right: 15px; background: no-repeat center}
.whitebox_image {width: 321px; height: 375px; background: no-repeat center}
.whitebox_image_2,
.whitebox_bonus_text .topic {margin-top: 36px}
.whitebox_image_3 {margin-top: 11px}
.whitebox_image_4 {margin-top: 10px}
.whitebox_bonus_text {width: 200px; float: right}
.whitebox_bonus_text h2.topic,
.oldprice,
.newprice,
.percent {float: left; font-size: 14px; width: 100%; margin: 0}
.oldprice {text-decoration: line-through}
.newprice {font-weight: bold; width: auto}
.percent {width: auto; margin: 0 0 30px 10px}/*	position: absolute; width: 980px; margin: 0 50%; left: -490px; z-index: 10; top: 25px; display: none; border: 1px solid #d00;*//*hover submenu*/
.hoversubmenu_container {position: absolute; z-index: 60; top: 25px; left: -810px;/*2600px wide so it should be good for most of the resolutions for a while*/
	width: 2600px; display: none}
.hoversubmenu {list-style: none; text-align: center; width: 980px; margin: 0 50%; position: relative; left: -495px}
.hoversubmenu li {display: inline-block; margin: 10px 0}
.hoversubmenu li a {text-decoration: none; color: #999; font-size: 11px; padding: 0 40px; line-height: 40px}
.hoversubmenu li a.last {color: #999}
.hoversubmenu li a:hover,
.hoversubmenu li a.active {color: #fff}
/*footer*/
.footercontainer {float: left; margin-bottom: 20px; width: 980px; position: relative; margin: 0 50%; left: -490px; height: 40px}
.newsletterjoin {float: left; position: relative; top: 6px}
.newsletterjoin form {float: left}
.newsletterjoin span {float: left; margin: 0 15px 0 57px; line-height: 17px}
.newsletterjoin .email {width: 100px; height: 12px; line-height: 12px; float: left; color: #666; font-size: 10px; border: none; margin-top: 2px}
.newsletterjoin .button,
.page_catalog_gallery .button {width: 19px; height: 20px; line-height: 20px; border-left: none; float: left; background: no-repeat center; border: none; cursor: pointer}
.newsletterjoin .button {position: relative; top: -1px}
.page_catalog_gallery .button {float: none; background-position: center 2px}
.page_catalog_gallery input {border: 1px solid #ccc; font-family: UbuntuLight, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #666}
.page_catalog_gallery label {margin: 0 10px}
.page_catalog_gallery h2 {margin: 0 0 10px 0; font-size: 14px}
.footermenu {float: right; margin: 0 175px 0 0; list-style: none; position: relative; top: 6px}
.footermenu li {float: left}
.footermenu a {color: #7f7f7f; font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 16px; height: 16px; text-decoration: none; padding: 0 8px; border-left: 1px solid #666}
.footermenu a.first {border: none}
.social_icons {position: absolute; right: 54px; top: 6px; height: 40px}
.social_icons div {width: 20px; height: 20px; display: inline-block; background-position: 0 -22px}
.social_icons div.vkontakte:hover {background-position: 0 0}
.social_icons div.facebook {background-position: -21px -22px}
.social_icons div.facebook:hover {background-position: -21px 0}
.social_icons div.twitter {background-position: -42px -22px}
.social_icons div.twitter:hover {background-position: -42px 0}
.social_icons div.gmail {background-position: -63px -22px}
.social_icons div.gmail:hover {background-position: -63px 0}
.social_icons div.youtube {background-position: -84px -22px}
.social_icons div.youtube:hover {background-position: -84px 0}
.social_icons div.instagram {background-position: -105px -22px}
.social_icons div.instagram:hover {background-position: -105px 0}
.whitebox_image_news {height: 344px; width: 644px; background: no-repeat center; overflow: hidden}
.page_search {min-height: 475px}
.searchrowbg {width: 100%; text-align: center; background: #1f1f1f; border-top: 1px solid #ccc}
.search_row {width: 980px; margin: 0 auto; background: #1f1f1f; height: 44px; text-align: left}
.search_row .search {position: relative; left: 54px; top: 14px; width: 140px; height: 20px}
.search_row .search .keyword {width: 95px; height: 14px; line-height: 14px; padding-left: 15px}
.search_row .search .button {margin-left: 3px}
.search_row span {position: relative; left: 212px; top: -3px; color: #ccc; font-size: 10px}
.search_body {padding: 15px 0 0 120px; width: 730px; float: left}
.search_body h1 {font-weight: normal; color: #666; font-size: 14px; font-family: OpenSansLight, Verdana, Arial, Helvetica, sans-serif}
.searchresults {float: left; clear: both; text-align: left; list-style: none; margin: 0; padding: 0}
.jcarousel-skin-tango-pdf {position: absolute; list-style: none; left: 312px}
.jcarousel-skin-tango-pdf li {width: 356px; height: 475px; background: no-repeat center}
.page_catalog_icoset {left: 0; top: 0; padding-top: 225px; width: 356px; height: 250px; display: none}
.catalog_landscape .jcarousel-skin-tango-pdf {position: absolute; list-style: none; left: 153px}
.catalog_landscape .jcarousel-skin-tango-pdf li {width: 672px; height: 475px; background: no-repeat center}
.catalog_landscape .page_catalog_icoset {left: 0; top: 0; padding-top: 225px; width: 672px; height: 250px; display: none}
.page_catalog_icoset a {width: 24px; height: 22px; display: inline-block; background: no-repeat; padding: 0 6px}
.jcarousel-skin-tango-pdf li:hover .page_catalog_icoset {display: block}
.new_stat {width: 910px}
.new_stat .style11 {font-size: 12px}
.page_services .pagecontenctforscroller,
.page_services .pagecontenctbig {height: 475px; width: 507px; overflow: auto; overflow-x: hidden}
.page_services .pagecontentsmall {float: left}
.addimage img {margin-bottom: 20px; display: none}
.stati-img {margin:5px}
.liveinternet {position:absolute}
