.jcarousel-skin-tango-expo .jcarousel-container-horizontal { width: 2000px !important; }
.jcarousel-skin-tango-expo .jcarousel-clip-horizontal { width: 2000px !important; }
.jcarousel-skin-tango-expo {
	left: auto !important;
}
