/* global setup */
html { overflow-x: hidden; }
body {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #646464;
	width: 100%;
	height: 100%;
	background: #fff;
}
a { color: #343434; }
.nounderline { text-decoration: none; }
a:hover { color: #343434; }
a img { border: none; }

/* site specific setup */
.container {
	width: 100%;
	position: relative;
}
.centerizer {
	width: 1000px;
	margin: 0 50%;
	position: absolute;
	left: -500px;
}

/*
index login form
*/
.loginform {
	margin: 50px 0 0 400px;
	width: 200px;
	text-align: center;
	font: bold 11px/20px Verdana, tahoma, arial, helvetica, sans-serif;
}
.loginform form {
	height: 177px;
	padding-top: 10px;
}
.loginform label {
	width: 200px;
	display: block;
}
.loginform input {
	height: 20px;
	width: 200px;
	background-color: #ebebeb;
	border: 1px solid #7f7f7f;
	color: #000;
	text-align: left;
	margin-bottom: 5px;
	font: bold 11px/20px Verdana, tahoma, arial, helvetica, sans-serif;
}
.loginform .loginbutton {
	width: 202px;
	text-align: center;
}

/*
header
*/
.mainmenu {
	width: 1000px;
	height: 32px;
	float: left;
	padding: 47px 0 10px 0;
	margin: 0 0 10px 0;
	list-style: none;
	background: no-repeat right top;
	border-bottom: 2px solid #ccc;
}
.mainmenu li {
	float: left;
	padding: 0 3px;
}
/* FAKE! remove after decent layout */
.mainmenu li img { height: 32px; }
.mainmenu li.separator {
	border-left: 3px solid #ccc;
	margin: 0 20px;
	height: 32px;
	padding: 0;
}

/*
body
*/
.dmscontainer {
	width: 1000px;
	float: left;
}
.sidemenu {
	width: 200px;
	margin: 0 20px 20px 0;
	padding: 0;
	list-style: none;
	float: left;
}
.sidemenu li { width: 200px; }
.sidemenu li a {
	display: block;
	text-decoration: none;
	padding: 3px;
}
.sidemenu li a:hover { background: #eaeaea; }
.sidemenu .header, .sidemenu .headerfake {
	text-align: center;
	font-weight: bold;
	background: #ccc;
	padding: 5px;
}
.sidemenu .headerfake {
	padding: 0;
	color: #000;
	line-height: 20px;
}
.main {
	float: left;
	width: 780px;
	margin: 0 0 10px 0;
}

/*
lists
*/
.mainlist {
	float: left;
	width: 760px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.mainlist li {
	border-top: 1px solid #ccc;
	width: 780px;
	float: left;
}
.mainlist li a { text-decoration: none; }
.mainlist .level0 { background: #ebebad; }
.mainlist .level0:hover { background: #f2f2cd; }
.mainlist .level1 { background: #edede5; }
.mainlist .level1:hover { background: #fdfdfd; }
.mainlist .level2 { background: #d3d3d3; }
.mainlist .level2:hover { background: #e3e1e1; }
.mainlist .itemname {
	float: left;
	padding: 2px 4px;
}
.mainlist .itemimage {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.ui-state-default .itemimage {
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center; 
}
.mainlist .itembuttons { float: right; }
.itemimage .imagehoverbuttons {
	position: absolute;
	left: 0;
	top: 0;
	padding: 3px;
	background: rgba(255, 255, 255, 0.8);
	display: none;
}
.itemimage:hover .imagehoverbuttons {
	display: block;
}
.sublist {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.uploadimagelist li {
	border: none !important;
	border-bottom: 1px solid #ccc !important;
}
.uploadimagelist .inputbutton, .imageuploadbutton, .imageuploadbutton .inputbutton {
	float: right;
	clear: both;
	margin: 0 !important;
}
.imageuploadbutton { padding: 5px 0; }
.sublist .itemname { margin-left: 20px; }
.sublist li {
	border-top: 1px solid #ccc;
	float: left;
}
/*#3 level*/
.sublist ul .itemname { margin-left: 40px; }


/*
footer
*/
.footer {
	float: left;
	width: 988px;
	text-align: right;
	border: 1px solid #aaa;
	background: #f5f5f5;
	padding: 5px;
}

/*
tooltip
*/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

/*
editor
*/
.editorheader {
	background: #ccc;
	float: left;
	width: 780px;
	color: #000;
	font-weight: bold;
}
.maineditorheader { border-bottom: 5px solid #fff; }
.editorheaderbuttons { float: right; }
.editorheadertext {
	padding: 5px;
	float: left;
}
.editorrow {
	float: left;
	width: 780px;
	margin: 0 0 10px 0;
	position: relative;
}
.inputbutton {
	height: 22px;
	line-height: 22px;
	width: 200px;
	border: 1px solid #7f7f7f;
	text-align: center;
	cursor: pointer;
	margin: 10px 0 0 0;
	padding: 0;
	background: #89aaff;
	float: right;
	font-weight: bold;
	font-size: 11px;
}
.nomargin { margin: 0; }
.tabs, .tabsover {
	float: left;
	line-height: 25px;
	padding: 0 20px;
	background: #ccc;
	border: 1px solid #aaa;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.tabsover, .tabs.active {
	text-decoration: none;
	background: #bbb;
	border-color: #ddd;
	border-left-color: #555;
	border-top-color: #555;
}
.langtabs, .transtabs {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.inputfieldlong, .inputfield, .inputfieldshort, .textarealong {
	width: 300px;
	height: 22px;
	background-color: #e5e5e5;
	border: 1px solid #7f7f7f;
	color: #000;
	font: bold 11px/22px Verdana, tahoma, arial, helvetica, sans-serif;
	text-align: left;
	margin-bottom: 5px;
}
.inputfieldlong { width: 530px; }
.textarealong {
	width: 450px;
	height: 100px;
	line-height: normal;
}
.inputfieldshort { width: 125px; }

.deletecol {
	float: right;
	text-align: center;
	margin-left: 5px;
}
.deletecolbutton { cursor: pointer; }
.uploadimagelist .deletecol input { margin: 7px; }

.ui-datepicker {
	background: #fff;
	width: 200px;
}
.ui-datepicker-header {
	background: #fec14c;
	padding: 10px;
	position: relative;
}
.ui-datepicker-prev {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	cursor: pointer;
}
.ui-datepicker-next {
	position: absolute;
	left: 100px;
	top: 0;
	width: 90px;
	text-align: right;
	padding: 5px;
	cursor: pointer;
}
.ui-datepicker-title {
	font-weight: bold;
	padding: 0 20px;
	text-align: center;
}
.ui-datepicker-calendar { width: 200px; }
.ui-datepicker-calendar td { text-align: center; }
.ui-datepicker-calendar td a {
	color: #000;
	text-decoration: none;
}
.ui-datepicker-today { background: #ccc; }
.ui-datepicker-current-day { background: #fec14c; }

/* uploader */
#content {
	float: left;
	clear: both;
}
form {	
	margin: 0;
	padding: 0;
}
div.fieldset {
	border: 1px solid #afe14c;
	padding: 20px 10px;
}
div.fieldset span.legend, .imagelist span.legend {
	position: relative;
	background-color: #fff;
	padding: 3px;
	top: -30px;
	left: 0px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
div.flash {
	width: 750px;
	margin: 10px 5px;
	border-color: #ccc;
}
.imagelist {
	border: 1px solid #ccc;
	position: relative;
	top: 20px;
	left: -10px;
	float: left;
}
.imagelist span.legend {
	top: -8px;
	left: -235px;
}
.imagelist .image {
	width: 580px;
	float: left;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
.image .left img {
	margin: 10px 0;
	float: left;
}
.image .left span {
	margin: 5px 0 0 10px;
	padding: 0;
	display: inline;
	float: left;
}
.image .left { float: left; }
.image .right { float: right; }
#divStatus {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */
#btnSubmit { margin: 0 0 0 155px; }
#btnCancel {
	margin-left: 2px;
	font-size: 11px;
	height: 29px;
}
/* -- Table Styles ------------------------------- */
td {
	font: 10pt Verdana, Helvetica, Arial, sans-serif;
	vertical-align: top;
}
.progressWrapper {
	width: 357px;
	overflow: hidden;
}
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #e8e8e8;
	background-color: #f7f7f7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #ffdd99;
	background-color: #ffffcc;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #b50000;
	background-color: #ffebeb;
}
/* Current */
.green {
	border: solid 1px #ddf0dd;
	background-color: #ebffeb;
}
/* Complete */
.blue {
	border: solid 1px #cee2f2;
	background-color: #f0f5ff;
}
.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}
.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}
.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}
.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}
a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}
a.progressCancel:hover { background-position: 0px 0px; }
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload { vertical-align: top; }
#responsecontainer { margin-left: 20px; }
#form1 { margin-bottom: 20px; }

.note {
	margin: 10px 0;
	padding: 5px;
	float: left;
	width: 770px;
	border: 1px solid #aaa;
	background: #fdffcc;
}
#gmessage {
	display: none;
	margin-top: 10px;
	border: 1px solid #ccc;
	width: 190px !important;
}

.transform {
	float: left;
	width: 780px;
}
.transform input, .transform label, .transform select {
	clear: both;
	float: left;
}
.transform .inputbutton { float: right; }
.langdatarow {
	border: 1px solid #aaa;
	border-top: none;
	padding: 3px;
	font-weight: bold;
	width: 772px;
	background: #eee;
	float: left;
}
.datarow {
	background: #fff;
	width: 100%;
	float: left;
}
.datarow:hover { background: #eee; }
.langdatarow .text, .transheadertext, .setupheadertext {
	width: 220px;
	float: left;
	line-height: 20px;
}
.langdatarow .values input {
	line-height: 17px;
	height: 17px;
	width: 450px;
}
.langdatarow .values, .langdatarow .values img { float: right; }
.values .userdetails {
	width: 400px;
	float: left;
	padding: 3px 0;
}
.values .adminbuttons { float: right; }
.setupheadertext, .setupheaderbuttons, .transheaderbuttons, .transheadertext {
	padding: 5px;
	line-height: 20px;
}

.buttonspacer {
	width: 70px;
	height: 20px;
	display: inline-block;
}

#galleryBox {
	position: fixed;
	top: 100px;
	border: 1px solid #000;
	height: 500px;
	width: 720px;
	overflow: auto;
	z-index: 50;
	background: #aaa;
	display: none;
}
#selectable {
	list-style: none;
	padding: 0;
	margin: 30px 10px 10px 10px;
}
#selectable .itemimage { border: 2px solid #aaa; }
#selectable .ui-selecting .itemimage, #selectable .itemimage:hover { border: 2px solid #fff; }
#selectable .ui-selected .itemimage { border: 2px solid #fec14c; }
#dgallerycontrol {
	position: fixed;
	top: 100px;
	width: 700px;
	z-index: 51;
	display: none;
	text-align: right;
}
#selectable li { margin: 1px; padding: 1px; float: left; }
.dGalleryBox {
	float: right;
	text-align: center;
}
.dGalleryBox div { cursor: pointer; }

.orderlist-selected { background: #ccc; }
.dropdownheader { margin-top: 10px; }
.themepreviewimage {
	width: 250px;
	margin: 10px 0;
	border: 1px solid #7f7f7f;
}
.themeitem {
	float: left;
	margin: 10px 5px 0 0;
	width: 250px;
	height: 200px;
	border: 1px dotted #ddd;
}


.google_maps_detector_button {
	cursor: pointer;
	width: 100%;
	display: block;
	float: left;
}


/*
ftp
*/
#ftp {
	border: 1px solid #444;
	width: 778px;
	height: 700px;
}
.ftp_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	float: left;
}
.ftp_menu li {
	padding: 5px;
	background: #007dcc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 0 5px 5px 0;
}
.ftp_menu li a {
	text-decoration: none;
	color: #fff;
}
.ftp_access_list, .ftp_file_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ftp_access_list li, .ftp_file_list li {
	margin: 5px 10px;
	border: none !important;
}
.ftp_buttons {
	float: left;
	width: 100%;
	margin: 5px 0;
}
.ftp_buttons input {
	border: none;
	padding: 5px;
	background: #007dcc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 0 5px 5px 0;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
}
#switcher_off, #switcher_off2 {
	display: none;
}


.ftp_access {
	float: left;
}
.ftp_access .inputbutton {
	float: left;
	margin-left: 13px;
}
.ftp_access_2 {
	margin-left: 60px;
}
.ftp_buttons2 {
	margin-top: 25px;
}
.ftp_text {
	margin: 10px 0;
	font-size: 12px;
}