/* global setup */
html { overflow-x: hidden; }
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	width: 100%;
	height: 100%;
}
a { color: #000; }
.nounderline { text-decoration: none; }
a:hover { color: #000; }
a img { border: none; }

/* site specific setup */
.container {
	width: 1000px;
	margin: 0 auto;
}
.header {
	width: 1000px;
	text-align: center;
}

.header h1 a {
	text-decoration: none;
}

.mainmenu {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	float: left;
}
.mainmenu li {
	float: left;
	margin-right: 10px;
}
.mainmenu li a {
	font-size: 16px;
	text-decoration: none;
}

.submenu {
	list-style: none;
	padding: 0;
	width: 200px;
	float: left;
}
.submenu li a {
	font-size: 14px;
	text-decoration: none;
}

.main {
	float: left;
	width: 800px;
}
.mainlong {
	float: left;
	widows: 1000px;
}

.portfolio {
	list-style: none;
	padding: 0;
	float: left;
}
.portfolio li {
	float: left;
	width: 100%;
}
.portfolio img {
	float: left;
	margin-right: 20px;
}

.newslist {
	margin: 0;
	padding: 0;
	list-style: none;
}
.newslist .newslistli {
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}
.newslist h1 {
	font-size: 16px;
	border-top: 2px dotted #ccc;
	padding-top: 20px;
}
.newslist .newsdate { font-style: italic; }

.gallery {
	float: left;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	width: 100%;
	position: relative;
}
.gallery li {
	float: left;
	cursor: pointer;
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	border: 8px solid #f9f8e9;
	margin: 0 0 3px 3px;
}
.gallery a {
	border: 1px solid #e8e7d7;
	display: block;
	width: 200px;
	height: 100px;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
}

.pagination {
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.pagination a, .pagination span {
	padding: 5px;
	text-decoration: none;
	width: 20px;
	display: block;
	float: left;
	text-align: center;
}
.pagination a:hover, .pagination span:hover {
	background: #eee;
}